.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 433px;
  margin: 261px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 33px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 328px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-3 {
  width: 184px;
  margin: -8px auto 0;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 107px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-4 {
  width: 184px;
  margin: 32px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 328px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-5 {
  width: 184px;
  margin: 4px auto 0;
}

.u-section-1 .u-image-2 {
  width: 160px;
  height: 110px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  width: 184px;
  margin: 29px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 328px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-7 {
  width: 184px;
  margin: 4px auto 0;
}

.u-section-1 .u-image-3 {
  width: 160px;
  height: 107px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-8 {
  width: 184px;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 115px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 55px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    width: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    width: 180px;
  }

  .u-section-1 .u-text-6 {
    width: 180px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    width: 180px;
  }

  .u-section-1 .u-text-8 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 485px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 19px 68px 0;
}

.u-section-2 .u-image-1 {
  width: 160px;
  height: 107px;
  margin: 18px auto 0 80px;
}

.u-section-2 .u-text-2 {
  margin: 32px 68px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 31px 80px 0 56px;
}

.u-section-2 .u-image-2 {
  width: 160px;
  height: 110px;
  margin: 30px auto 0 68px;
}

.u-section-2 .u-text-4 {
  margin: 29px 80px 0 56px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 31px 68px 0;
}

.u-section-2 .u-image-3 {
  width: 160px;
  height: 107px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 22px 68px 0;
}

.u-section-2 .u-text-7 {
  width: 433px;
  margin: -427px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 47px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 47px;
    margin-left: 23px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 21px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-7 {
    width: 340px;
  }
}